lab0/Drivers/*
lab1/Drivers/*
lab2/Drivers/*
lab3/Drivers/*
lab4/Drivers/*
lab5/Drivers/*
lab6-7/Drivers/*
lab6-7-t/Drivers/*
lab8/1/lab8/Drivers/*
lab8/2/Drivers/*
lab9/Drivers/*
lab9/1/lab9-1/Drivers/*
lab9/1/lab9-2/Drivers/*
lab9/2/Drivers/*
lab10/1/Drivers/*
lab10/2/2/Drivers/*
lab10/3/Counter/counter/Drivers/*
lab10/4/usart/Drivers/*
